.footer {
	display: grid;
	grid-area: footer;
	gap: 10 40px;
	background-color: var(--primary);
	grid-template-columns: 1fr auto auto;
	color: var(--white);
	padding: 25px 30px;
	font-size: 16px;
	line-height: 16px;
}

.copyright {
	display: flex;
}

.link:hover {
	color: var(--grey-light);
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
	}
}